// seletor(propriedade : valor)

// seletor global
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Roboto", sans-serif;


}

//cores e tipografias
header{
//cores em inglês: red, blue, green, black, white
//RGB: red, green, blue 
//0 a 255
//rgba: red, green, blue, alpha(opacidade) 0 a 1

 
  background-color: rgba(0,0,255,0.5);
}





//Tag 
h2{
color: blue;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}
//class

.card{
  border: solid;
  border-radius: 10px;
  width: 30vw;
  padding: 10px;

//cores
//hexadecimal: #RRGGBB

background-color: #ced4da;


img{
// (%) se ajusta de acordo com a caixa pai 
  width: 100%;
  height: 50vh;
}
button{
background-color: red;
width: 30%;
 
}

}
//Medidas
//fixa: QUE NÃO VAI SE ADAPTAR px (fixo) Não muda
//relativa: QUE VAI SE ADAPTAR % (porcentagem) mudaM CONFORME O TAMANHO DA TELA 
//vh (view height) 1vh = 1% da altura da tela mudaM CONFORME O TAMANHO DA TELA 
//vw (view width) 1vw = 1% da largura da tela mudaM CONFORME O TAMANHO DA TELA
 