// seletores: propriedades:valores

header {
  background-color: rgb(0, 57, 202);
  color: rgb(246, 245, 245);
  text-align: center;
  padding: 1rem;
}

img{
    width: 300px;
}
button{
  background-color: rgb(218, 118, 4);

}

